## 0.0 Comandi su Anaconda Prompr:

* cd nomeCartella
* cd..
* dir 
* NomeDrive:  [J:]
* pip
* conda
* jupyter notebook

## 0.1 Comandi su Jupyter Notebook
* Da File Explorer: new "python3 Kernel"
* esc: esce dall'editing di una cella
* a: aggiunge una cella sopra alla cella selezionata
* b: aggiunge una cella sotto alla cella selezionata
* m: trasforma la cella selezionata in cella di Markdown
* y: trasforma la cella selezionata in cella di codice
* x, c, v: taglia, copia e incolla la cella selzionata
* z: annulla l'ultima operazione su celle eseguita
* l: mostra/nascondi i numeri di riga
* shift m: unisci celle selezionate
* ctrl+shift+meno(-): dividi le celle al cursore
* shift + invio: esegue la cella e passa alla cella successiva
* ctrl + invio: esegue la cella e resta sulla stessa cella

# 1.0 Python

## 1.1 Variabili e Assegnazioni

In [1]:

# Questa riga e' un commento e verra' ignorata dal kernel
"""
L'operatore "=" e' l'operatore di assegnazione
che assegna all'identificatore che ho a sinistra dell'uguale
il risultato di cio' che ho a destra dell'uguale
"""

a = 5
b = 7

In [2]:
c = a + b

**ATTENZIONE:** Python e' **Case Sensitive** distingue quindi le maiuscole dalle minuscole:
* casa non e' uguale ad Casa
* a non e' uguale ad A

### 1.1.1 Python Style
_Style for Python Code_: https://www.python.org/dev/peps/pep-0008/

* identificatori (nomi delle variabili) vanno scirtti in lettere minuscole con parole separate da underscore _ 
* l'identificatore deve esprimere chiaramente cosa contiene
* preferibilmente in lingua inglese

### 1.1.2 Tipi 
* int: numero intero 
* float
* boolean
* str

In [3]:
type(a)

int

In [4]:
float_number = 5.23122
Float_number = 1.2345

# Float_number NON E' float_number

In [5]:
float_number

5.23122

In [6]:
type(float_number)

float

In [7]:
operatore_booleano_1 = True
operatore_booleano_2 = False

In [8]:
type(operatore_booleano_1)

bool

In [9]:
una_stringa = "ciao"

In [10]:
anche_questa_e_una_stringa = "45"

In [11]:
questo_e_un_numero = 45

In [12]:
type(una_stringa)

str

In [13]:
type(anche_questa_e_una_stringa)

str

## 1.2 Aritmetica

* \+ somma
* \- sottrazione
* \* moltiplicazione
* \*\* elevazione  potenza
* / divisione
* // divisione intera (floor division), tronca il risultato
* % resto della divisione intera (_mod_ in inglese)

Nota stilistica: gli operatori vanno separati con degli spazi: <br>
OK:<br>
5 + 2<br>

NON OK:<br>
5+2<br>

In [14]:
5+2

7

In [15]:
5-2

3

In [16]:
5*2

10

In [17]:
# 5 alla seconda
5**2

25

In [18]:
5/2

2.5

In [19]:
# divisione intera di 5 per 2
5//2

2

In [20]:
# resto della divisione intera di 5 per 2
5%2

1

Attenzione: gli errori su Python vengono messi in evidenza dalle **exception** che vengono sollevate da operazioni di **traceback**

In [21]:
21/0

ZeroDivisionError: division by zero

In [22]:
sum(type(5))

TypeError: 'type' object is not iterable

In [23]:
z + 8

NameError: name 'z' is not defined

In [24]:
# nelle operazioni aritmetiche le parentesi sono solo quelle tonde
(5+2) * 3

21

In [25]:
5 + 2 * 3

11

In [26]:
# sono ammesse le parentesi, anche rindondanti (ma meglio evitarle)
(5+2) + ((3*(7+2)))

34

In [27]:
# non posso usare le parentesi quadre e graffe nei calcoli matematici:

[3+4] * 5

[7, 7, 7, 7, 7]

In [28]:
{4*2} * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [29]:
# il separatore decimale e' il punto:
5.234

5.234

In [30]:
5,234

(5, 234)

In [31]:
[5, 234]

[5, 234]

## Esercizietti:
* calcola y = a*z^3 +7 con **a** e **z** pari a due numeri a tua scelta.
* confronta
    * y = 4^3^2
    * y = (4^3)^2
    * y = 4^(3^2)

In [32]:
a = 4/2
a

2.0

In [33]:
b = 4//2
b

2

In [34]:
type(a) == type(b)

False

In [35]:
"Questa e' una stringa"

"Questa e' una stringa"

In [36]:
'Questa e\' un\' altra stringa'

"Questa e' un' altra stringa"

In [1]:
b = "questa e' una stringa"

In [14]:
b = "Marco m'ha detto \"Ciao mi chiamo Marco\". "

In [16]:
print(b)

Marco m'ha detto "Ciao mi chiamo Marco".

## Escape Character
* \' --> stampa apice singolo
* \" --> stampa il doppio apice
* \t --> inserisce un carattere di tabulazione
* \n --> va a capo
* \\ --> stampa il backslash

In [17]:
print("Ciao \t \t sono lontano")

Ciao 	 	 sono lontano

In [22]:
print("Ciao \n\"Sono a capo\"")

Ciao
"Sono a capo"

In [4]:
run Scriptino.py

Inserisci due interi, e ti diro' in che relazione sono.
Inserisci il primo intero: 20
Inserisci il secondo intero: 30
20 e' diverso da 30
20 e' minore di 30
20 e' minore o uguale a 30