# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [2]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv"

### Step 3. Assign it to a variable apple

In [47]:
apple = pd.read_csv(url)
apple

            Date   Open   High    Low  Close     Volume  Adj Close
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

### Step 4.  Check out the type of the columns

In [48]:
apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### Step 5. Transform the Date column as a datetime type

In [49]:
# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
apple.Date = pd.to_datetime(apple.Date, format="%Y-%m-%d")

In [50]:
apple.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

### Step 6.  Set the date as the index

In [51]:
apple = apple.set_index("Date")

### Step 7.  Is there any duplicate dates?

In [54]:
apple.index.is_unique

True

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [30]:
apple = apple.sort_index()

### Step 9. Get the last business day of each month

In [ ]:
# datetime index vs datetime column

In [56]:
apple.index.day_name()

Index(['Tuesday', 'Monday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday',
       'Friday', 'Thursday', 'Wednesday', 'Tuesday',
       ...
       'Friday', 'Wednesday', 'Tuesday', 'Monday', 'Friday', 'Thursday',
       'Wednesday', 'Tuesday', 'Monday', 'Friday'],
      dtype='object', name='Date', length=8465)

In [58]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

apple.resample("BM").max()

              Open    High     Low   Close     Volume  Adj Close
Date
1980-12-31   36.00   36.13   36.00   36.00  117258400       0.56
1981-01-30   34.50   34.75   34.50   34.50   13921600       0.54
1981-02-27   28.75   28.87   28.75   28.75    6966400       0.45
1981-03-31   26.75   27.00   26.75   26.75   57825600       0.42
1981-04-30   29.25   29.37   29.25   29.25   14504000       0.46
...            ...     ...     ...     ...        ...        ...
2014-03-31  546.52  549.00  539.59  544.99   93511600      77.42
2014-04-30  593.74  599.43  589.80  594.09  189977900      84.40
2014-05-30  637.98  644.17  628.90  635.38  141005200      90.77
2014-06-30  649.90  651.26  644.47  647.35  100813200      94.25
2014-07-31   96.27   96.80   94.10   95.97   65130000      95.97

[404 rows x 6 columns]

In [61]:
apple.loc["2010":"2014"]

C:\Users\simon\AppData\Local\Temp/ipykernel_19736/3068770499.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  apple.loc["2010":"2014"]

              Open    High     Low   Close     Volume  Adj Close
Date
2013-12-31  554.17  561.28  554.00  561.02   55771100      79.23
2013-12-30  557.46  560.09  552.32  554.52   63407400      78.31
2013-12-27  563.82  564.41  559.50  560.09   56471100      79.10
2013-12-26  568.10  569.50  563.38  563.90   51002000      79.63
2013-12-24  569.89  571.88  566.03  567.67   41888700      80.17
...            ...     ...     ...     ...        ...        ...
2011-01-07  333.99  336.35  331.90  336.12   77982800      45.90
2011-01-06  334.72  335.25  332.90  333.73   75107200      45.57
2011-01-05  329.55  334.34  329.50  334.00   63879900      45.61
2011-01-04  332.44  332.50  328.15  331.29   77270200      45.24
2011-01-03  325.64  330.26  324.84  329.57  111284600      45.00

[754 rows x 6 columns]

### Step 10.  What is the difference in days between the first day and the oldest

In [63]:
apple.index.max() - apple.index.min()

Timedelta('12261 days 00:00:00')

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.